body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    color: #1e293b;
}

/* NAVBAR */
.navbar {
    padding: 20px 0;
}
.navbar-brand {
    font-weight: 800;
}
.nav-link {
    color: #64748b !important;
    margin-left: 20px;
}
.nav-link:hover {
    color: 	#0d6efd !important;
}

/* HERO */
.hero {
    padding: 120px 0 80px;
}
.hero h1 {
    font-size: 3rem;
    font-weight: 800;
}
.hero span {
    color: #0d6efd;
}

/* BUTTON */
.btn-main {
    color: #fff;
    border-radius: 50px;
    padding: 12px 28px;
    font-weight: 600;
}
.btn-main:hover {
    background: #0284c7;
}

/* SECTION */
.section {
    padding: 100px 0;
}

/* SKILL */
.skill-box {
    border: 1px solid #e2e8f0;
    border-radius: 16px;
    padding: 30px;
    transition: 0.3s;
}
.skill-box:hover {
    border-color: #0ea5e9;
    transform: translateY(-5px);
}

/* PROJECT */
.project-card { border-radius: 20px; overflow: hidden; transition: all 0.3s ease; border: none; }
.project-card:hover { transform: translateY(-10px); box-shadow: 0 20px 40px rgba(0,0,0,0.1); }
.project-img { height: 200px; object-fit: cover; }

/* FOOTER */
.footer {
    background: #f8fafc;
}